@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', 'Roboto', serif;
}

/* Importing Bootstrap SCSS file. */

/* Importing Datepicker SCSS file. */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;

}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}
