<div class="surface-section container">
  <span class="text-700 text-xl">Thanks!</span>
  <div class="text-900 font-bold text-4xl my-2">Successful Order 🚀</div>
  <p class="text-700 text-xl mt-0 mb-4 p-0">
    <app-order-status-message [orderStatus]="orderRes!.orderStatus"
                              [lastStatusUpdate]="orderRes!.lastStatusUpdate"></app-order-status-message>
  </p>
  <div style="height: 3px; background: linear-gradient(90deg, #2196F3 0%, rgba(33, 150, 243, 0) 50%);"></div>
  <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between py-5">
    <div class="mb-3 sm:mb-0"><span class="font-medium text-xl text-900 mr-2">Order number:</span><span
      class="font-medium text-xl text-blue-500">{{orderUUID}}</span></div>
    <div>
      <button pbutton="" pripple="" label="Details" icon="pi pi-list"
              class="p-element p-ripple p-button-outlined p-button-secondary mr-2 p-button p-component"><span
        class="p-button-icon p-button-icon-left pi pi-list" aria-hidden="true"></span><span class="p-button-label">Details</span><span
        class="p-ink"></span></button>
      <button pbutton="" pripple="" label="Print" icon="pi pi-print"
              class="p-element p-ripple p-button-outlined p-button-secondary p-button p-component"><span
        class="p-button-icon p-button-icon-left pi pi-print" aria-hidden="true"></span><span class="p-button-label">Print</span><span
        class="p-ink"></span></button>
    </div>
  </div>
  <div class="border-round surface-border border-1">
    <ul class="list-none p-0 m-0" *ngFor="let product of orderProducts">

      <li class="p-3 border-bottom-1 surface-border flex align-items-start sm:align-items-center">
        <img
          src="{{product.product.image}}"
          class="w-3rem sm:w-8rem flex-shrink-0 mr-3 shadow-2">
        <div class="flex flex-column"><span
          class="text-900 font-medium text-xl mb-2">{{product.product.name}}</span><span
          class="text-600 font-medium mb-3">Blue | Medium</span><span
          class="text-900 font-medium">Quantity: {{product.quantity}}</span>
        </div>
        <span
          class="text-900 font-medium text-lg ml-auto">{{product.product.price * product.quantity! | currency:"RON "}}</span>
      </li>
    </ul>
  </div>
  <div class="flex flex-wrap mt-5 pb-3">
    <div class="w-full lg:w-6 pl-3"><span class="font-medium text-900">Shipping Address</span>
      <div class="flex flex-column text-900 mt-3 mb-5"><span class="mb-1">Celeste Slater</span><span class="mb-1">606-3727 Ullamcorper. Roseville NH 11523</span><span>(786) 713-8616</span>
      </div>
      <span class="font-medium text-900">Payment</span>
      <div class="flex align-items-center mt-3">
        <img src="assets/img/o99mqiqf.bmp"
             class="w-4rem mr-3">
        <div class="flex flex-column"><span class="text-900 mb-1">Visa Debit Card</span><span
          class="text-900 font-medium">**** **** **** 1234</span></div>
      </div>
    </div>
    <div class="w-full lg:w-6 pl-3 lg:pl-0 lg:pr-3 flex align-items-end mt-5 lg:mt-0">
      <ul class="list-none p-0 m-0 w-full">
        <li class="mb-3"><span class="font-medium text-900">Summary</span></li>
        <li class="flex justify-content-between mb-3"><span class="text-900">Subtotal</span><span
          class="text-900 font-medium text-lg">$36.00</span></li>
        <li class="flex justify-content-between mb-3"><span class="text-900">Shipping</span><span
          class="text-900 font-medium text-lg">$5.00</span></li>
        <li class="flex justify-content-between mb-3"><span class="text-900">Tax</span><span
          class="text-900 font-medium text-lg">$4.00</span></li>
        <li class="flex justify-content-between border-top-1 surface-border py-3"><span class="text-900 font-medium">Total</span><span
          class="text-900 font-bold text-lg">{{orderRes!.totalPrice | currency:'RON '}}</span></li>
      </ul>
    </div>
  </div>
</div>
