<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center hide">
    <section class="pl-8">
      <span class="block text-6xl font-bold mb-1">JOIN US TODAY</span>
      <div class="text-4xl text-primary font-bold mb-3">After a day's walk, everything has twice its usual value</div>
      <p class="mt-0 mb-4 text-700 line-height-3">One minute your driving down the road looking at the scenery, the next
        minute your driving in the scenery looking at the road.</p>
      <button pButton pRipple label="Learn More" type="button" class="mr-3 p-button-raised"
              routerLink="/products"></button>
      <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button>
    </section>
  </div>
  <div class=" col-12 md:col-6 overflow-hidden">
    <img src="assets/img/dolomites-2.jpg" alt="Image" class=" hero-image md:ml-auto block md:h-500 w-full object-cover"
         style="clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%)">
  </div>
</div>
