<!--<app-dark-banner></app-dark-banner>-->
<!--<app-front-page-hero></app-front-page-hero>-->
<!--<p-splitter class="m-8"></p-splitter>-->
<!--<app-top-recommanded-products></app-top-recommanded-products>-->
<!--&lt;!&ndash;<app-call-to-action></app-call-to-action>&ndash;&gt;-->
<!--&lt;!&ndash;<app-footer></app-footer>&ndash;&gt;-->


<div class="relative p-8 overflow-hidden surface-section px-4 py-8 md:px-6 lg:px-8 " >
  <div class="text-center my-6 relative">
    <div class="display-1 font-bold mb-1">The Platform For</div>
    <span class="display-2 text-primary text-shadow font-bold mb-4">Today's Generation</span>
    <p class="mt-0 mb-4 line-height-3 text-center mx-auto text-2xl" style="max-width: 1200px;">Lorem ipsum
      dolor sit
      amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <button pbutton="" pripple="" label="Learn More" type="button" class="p-element p-ripple p-button p-component"><span
      class="p-button-label">Learn More</span><span class="p-ink"></span></button>
    <p class="text-sm mt-4 mb-4 line-height-3 ">Available for MacOS, Web and Google accounts only</p>
  </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <app-top-recommanded-products></app-top-recommanded-products>
</div>
