<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <p-slideMenu [model]="items" [viewportHeight]="350"></p-slideMenu>
    </div>
    <div class="col-8">
      <app-personal-information *ngIf="this.status === 'Personal Information'"></app-personal-information>
      <app-my-orders *ngIf="this.status === 'My Orders'"></app-my-orders>
      <app-wishlist *ngIf="this.status === 'Wishlist'"></app-wishlist>
      <app-my-addresses *ngIf="this.status === 'My Addresses'"></app-my-addresses>
      <app-my-reviews *ngIf="this.status === 'My Reviews'"></app-my-reviews>
    </div>
  </div>

</div>
