<!--
<div class="bg-primary shadow-2 inline-flex w-100  relative lg:static" style="min-height: 84px;">
  <div class="flex justify-content-between align-items-center justify-content-start px-5 bg-primary">
    <a routerLink="/home"><img src="assets/img/logor.png" alt="Image" height="60"></a>
  </div>

  <div
    class="flex top-100 ml-auto z-1  lg:pr-5 w-full lg:w-auto bg-primary">
    <ul
      class="list-none p-0 m-0 flex justify-content-end select-none lg:flex-row-reverse  bg-primary lg:border-top-none">

      <li class=" bg-primary lg:border-top-none ml-auto" *ngIf="userIsLoggedIn">
        <a (click)="menu.toggle($event)"
           class="p-ripple p-element h-full flex px-6 py-3 lg:px-3 lg:py-0 align-items-center hover:bg-blue-600 hover:
           font-normal cursor-pointer transition-colors transition-duration-150">
          <p-avatar icon="pi pi-user" styleClass="mr-2" size="large" shape="circle"></p-avatar>

          <div class="block">
            <div class="font-semibold bg-transparent text-white">{{user?.username}}</div>
          </div>
          <span class="p-ink"></span>
        </a>
        <p-menu #menu [popup]="true" [model]="items"></p-menu>
      </li>

      <li class=" bg-primary lg:border-top-none ml-auto" *ngIf="userIsLoggedIn">

        <a routerLink="/shopping-cart"
           class="p-ripple p-element h-full flex px-6 py-3 lg:px-3 lg:py-0 align-items-center hover:bg-blue-600 font-normal cursor-pointer transition-colors transition-duration-150">
          <p-avatar icon="pi pi-shopping-cart" styleClass="mr-2" size="large" shape="circle"></p-avatar>
          <em class="mr-5 p-text-secondary" pBadge style="font-size: 2rem" [value]="'10+'" severity="danger"></em>
          <div class="block">
            <div class="font-semibold bg-transparent text-white">Cart</div>
          </div>
        </a>
      </li>

      <li class="  bg-primary lg:border-top-none ml-auto" *ngIf="!userIsLoggedIn">
        <a routerLink="/login"
           class="p-ripple p-element h-full flex px-6 py-3 lg:px-3 lg:py-0 align-items-center hover:bg-blue-600 font-normal cursor-pointer transition-colors transition-duration-150">
          <p-avatar icon="pi pi-sign-in" styleClass="mr-2" size="large" shape="circle"></p-avatar>
          <div class="block">
            <div class="font-semibold bg-transparent text-white">Log In</div>
          </div>
          <span class="p-ink"></span>
        </a>
      </li>
    </ul>
  </div>
</div>

-->

<mat-toolbar class="mb-8 sticky-top">
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <i class="pi pi-align-justify text-white" style="font-size: 2rem"></i>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs fxHide.gt-xs>
    <!--    <ul fxLayout fxLayoutGap="15pxp" class="navigation-items">-->
    <!--      <li>-->
    <!--        <a routerLink="/owner"> Owner Actions</a>-->
    <!--      </li>-->
    <!--      <li>-->
    <!--        <a routerLink="/account"> Account Actions</a>-->
    <!--      </li>-->
    <!--    </ul>-->
    <ul
      class="list-none p-0 m-0 flex justify-content-end select-none lg:flex-row-reverse lg:border-top-none">

      <li class="lg:border-top-none ml-auto" *ngIf="userIsLoggedIn">
        <a (click)="menu.toggle($event)"
           class="p-ripple p-element h-full flex px-6 py-3 lg:px-3 lg:py-0 align-items-center
           font-normal cursor-pointer transition-colors transition-duration-150 hover:shadow-3">
          <p-avatar icon="pi pi-user" styleClass="mr-2" size="large" shape="circle"></p-avatar>

          <div class="block">
            <div class="font-semibold bg-transparent text-white">{{user?.username}}</div>
          </div>
          <span class="p-ink"></span>
        </a>
        <p-menu #menu [popup]="true" [model]="items"></p-menu>
      </li>

      <li class="lg:border-top-none ml-auto" *ngIf="userIsLoggedIn">
        <a routerLink="/shopping-cart"
           class="p-ripple p-element h-full flex px-6 py-3 lg:px-3 lg:py-0 align-items-center font-normal cursor-pointer transition-colors transition-duration-150">
          <p-avatar icon="pi pi-shopping-cart" styleClass="mr-2" size="large" shape="circle"></p-avatar>
          <em class="mr-5 p-text-secondary" pBadge style="font-size: 2rem" [value]="'10+'" severity="danger"></em>
          <div class="block">
            <div class="font-semibold bg-transparent text-white">Cart</div>
          </div>
        </a>
      </li>

      <li class="lg:border-top-none ml-auto" *ngIf="!userIsLoggedIn">
        <a routerLink="/login"
           class="p-ripple p-element h-full flex px-6 py-3 lg:px-3 lg:py-0 align-items-center hover:bg-blue-600 font-normal cursor-pointer transition-colors transition-duration-150">
          <p-avatar icon="pi pi-sign-in" styleClass="mr-2" size="large" shape="circle"></p-avatar>
          <div class="block">
            <div class="font-semibold bg-transparent text-white">Log In</div>
          </div>
          <span class="p-ink"></span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
