<div class="container">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">

    <div class="flex flex-column align-items-center mb-6">
      <div class="text-900 text-4xl mb-4 font-medium text-center">Your cart total is $82.00</div>
      <p class="text-600 font-medium text-xl mt-0 mb-4">FREE SHIPPING AND RETURN</p>
      <button pbutton="" pripple="" label="Check Out" class="p-element p-ripple p-button p-component">
        <span class="p-button-label">Check Out</span>
        <span class="p-ink"></span>
      </button>
    </div>

    <ul class="list-none p-0 m-0" *ngFor="let productItem of cartItems">
      <li class="flex flex-column md:flex-row py-6 border-top-1 border-bottom-1 surface-border md:align-items-center">
        <img src="{{productItem.image}}" class="w-12rem flex-shrink-0 mx-auto md:mx-0">
        <div class="flex-auto py-5 md:pl-5">
          <div
            class="flex flex-wrap align-items-start sm:align-items-center sm:flex-row sm:justify-content-between surface-border pb-6">
            <div class="w-full sm:w-6 flex flex-column">
              <span class="text-900 text-xl font-medium mb-3">{{productItem.name}}</span>
              <span class="text-600">Medium</span>
            </div>
            <div class="w-full sm:w-6 flex align-items-start justify-content-between mt-3 sm:mt-0">
              <div>
              </div>
              <div class="flex flex-column sm:align-items-end">
                <span class="text-900 text-xl font-medium mb-2 sm:mb-3">{{productItem.price | currency:"RON"}}</span>
                <button pButton pRipple type="button" label="Remove" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text" (click)="removeItemFromCart(this.productItem)"></button>

              </div>
            </div>
          </div>
          <div class="flex flex-column">
          <span class="inline-flex align-items-center mb-3">
          <i class="pi pi-envelope text-600 mr-2"></i>
          <span class="text-600 mr-2">Order today.</span>
        </span>
            <span class="inline-flex align-items-center mb-3">
            <i class="pi pi-send text-600 mr-2"></i>
            <span class="text-600 mr-2">Delivery by <span class="font-bold">Dec 23.</span>
            </span>
          </span>
            <span class="flex align-items-center"><i class="pi pi-exclamation-triangle text-600 mr-2"></i><span
              class="text-600">Only 8 Available.</span></span></div>
        </div>
      </li>


      <!--      <li class="flex flex-column md:flex-row py-6 border-top-1 border-bottom-1 surface-border md:align-items-center">-->
      <!--        <img-->
      <!--          src="assets/img/products/pants/pants1.webp"-->
      <!--          class="w-12rem flex-shrink-0 mx-auto md:mx-0">-->
      <!--        <div class="flex-auto py-5 md:pl-5">-->
      <!--          <div-->
      <!--            class="flex flex-wrap align-items-start sm:align-items-center sm:flex-row sm:justify-content-between surface-border pb-6">-->
      <!--            <div class="w-full sm:w-6 flex flex-column"><span-->
      <!--              class="text-900 text-xl font-medium mb-3">Product Name</span><span class="text-600">Medium</span></div>-->
      <!--            <div class="w-full sm:w-6 flex align-items-start justify-content-between mt-3 sm:mt-0">-->
      <!--              <div>-->
      <!--                <p-dropdown class="p-element p-inputwrapper ng-tns-c33-11 p-inputwrapper-filled ng-star-inserted">-->
      <!--                  <div class="ng-tns-c33-11 p-dropdown p-component">-->
      <!--                    <div class="p-hidden-accessible ng-tns-c33-11"><input type="text" readonly=""-->
      <!--                                                                          aria-haspopup="listbox"-->
      <!--                                                                          role="combobox" class="ng-tns-c33-11"-->
      <!--                                                                          aria-expanded="false"></div>-->
      <!--                    <span class="p-element ng-tns-c33-11 p-dropdown-label p-inputtext ng-star-inserted"-->
      <!--                          id="pr_id_7_label">1&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</span>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
      <!--                    <div role="button" aria-label="dropdown trigger" aria-haspopup="listbox"-->
      <!--                         class="p-dropdown-trigger ng-tns-c33-11"><span-->
      <!--                      class="p-dropdown-trigger-icon ng-tns-c33-11 pi pi-chevron-down"></span></div>&lt;!&ndash;&ndash;&gt;</div>-->
      <!--                </p-dropdown>-->
      <!--              </div>-->
      <!--              <div class="flex flex-column sm:align-items-end"><span class="text-900 text-xl font-medium mb-2 sm:mb-3">$62.00</span><a-->
      <!--                tabindex="0"-->
      <!--                class="cursor-pointer text-pink-500 font-medium text-sm hover:text-pink-600 transition-colors transition-duration-300">Remove</a>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--          <div class="flex flex-column"><span class="inline-flex align-items-center mb-3"><i-->
      <!--            class="pi pi-envelope text-600 mr-2"></i><span class="text-600 mr-2">Order today.</span></span><span-->
      <!--            class="inline-flex align-items-center mb-3"><i class="pi pi-send text-600 mr-2"></i><span-->
      <!--            class="text-600 mr-2">Delivery by <span class="font-bold">Dec 23.</span></span></span><span-->
      <!--            class="flex align-items-center"><i class="pi pi-exclamation-triangle text-600 mr-2"></i><span-->
      <!--            class="text-600">Only 2 Available.</span></span></div>-->
      <!--        </div>-->
      <!--      </li>-->
    </ul>


    <div class="flex">
      <div class="w-12rem hidden md:block"></div>
      <ul class="list-none py-0 pr-0 pl-0 md:pl-5 mt-6 mx-0 mb-0 flex-auto">
        <li class="flex justify-content-between mb-4"><span class="text-xl text-900">Subtotal</span><span
          class="text-xl text-900">$82.00</span></li>
        <li class="flex justify-content-between mb-4"><span class="text-xl text-900">Shipping</span><span
          class="text-xl text-900">Free</span></li>
        <li class="flex justify-content-between mb-4"><span class="text-xl text-900">VAT</span><span
          class="text-xl text-900">$8.00</span></li>
        <li class="flex justify-content-between border-top-1 surface-border mb-4 pt-4"><span
          class="text-xl text-900 font-bold text-3xl">Total</span><span
          class="text-xl text-900 font-bold text-3xl">$90.00</span></li>
        <li class="flex justify-content-end">
          <button pbutton="" pripple="" label="Check Out" class="p-element p-ripple p-button p-component"><span
            class="p-button-label">Check Out</span><span class="p-ink"></span></button>
        </li>
      </ul>
    </div>
  </div>
</div>
<p-toast position="bottom-center" key="tc"></p-toast>
